<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EpicSkies.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EpicSkiesAppleTVExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EpicSkiesWatch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>SkyUpload.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>550E264F1F539CCD00CB684A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55363DAB1F59F855007E65A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>554EAA091F58E35300EFEF3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>558D1F4E1F561236001EF6E1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>55FD665B1F2A552B001506B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
